{% extends 'base.html' %}

{% block title %}
    Friend Requests
{% endblock %}

{% block css_file %}

{% endblock %}

{% block body %}
    <div class='container justify-content-center'>
        <h2>Received friend request</h2>
        <br>
        {% for friend_request in all_friend_requests %}
            <p>
                {{ friend_request.from_user }}
                <a href="{% url 'accept_friend_request' requestID=friend_request.id %}">Accept Friend request</a>
            </p>
        {% empty %}
            <h5>No friend request received.</h5>
        {% endfor %}
    </div>
{% endblock %}