{% extends 'base.html' %}

{% block title %} 
    Home
{% endblock %}

{% block body %} 

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <form class="d-flex" method="post" action="{% url 'searchhandle' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name='email'>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </nav>

    
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <br>
    
    {% if user.is_authenticated %}
    {{ email }} is available
    {% else %}
    <p>{{ email }} is not available</p>
    <a href="{% url 'searchhandle' %}">Log In</a>
    {% endif %}


{% endblock %}