{% extends 'base.html' %}
{% load static %} 

{% block title %}
    New Password
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'main/new_password.css' %}"> 
    <h2>Please Enter your new password</h2>
    <div class="d-flex justify-content-center align-items-center container-lg">
        <form action="{% url "main:new_password" %}" method="post">
            {% csrf_token %}
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password_1" required id="id_password">
            </p>
            <p>
                <label for="id_password">Confirm Password:</label>
                <input type="password" name="password_2" required id="id_password">
            </p>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="submit" value="Submit">
        </form>
    </div>
    

{% endblock %}