{% extends 'base.html' %}
{% block title %} 
    Home
{% endblock %}

{% block body %} 

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex order-1" autocomplete="off" method="post" action="{% url 'main:searchhandle' %}">
                {% csrf_token %}
                <div class='autocomplete' id="autocomplete" style="width:800px;">
                <input class="form-control me-2 autocomplete-input" type="text" placeholder="Search" aria-label="Search" name='email'>
                <ul class="autocomplete-result-list"></ul>
            </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            {% if user.is_authenticated %}

            <form class="d-flex order-2" method="post" action="{% url 'main:friend_list' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Friends</button>
            </form>

            <form class="d-flex order-2" method="post" action="{% url 'main:sentrequests' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Add Friends</button>
            </form>

            <form class="d-flex order-2" method="post" action="{% url 'main:recievedrequests' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Friend Requests</button>
            </form>
        
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}

        </div>
    </nav>

    <br>
    {% if user.is_authenticated %}
    {{ email}} is available
    {% else %}
    <p>{{ email }} is not available</p>
    <a href="{% url 'main:login' %}">Log In</a>
    {% endif %}

    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    
    <script>
        new Autocomplete("#autocomplete",{
            search :input =>{
                console.log(input)
                const url = `/search/?email=${(input)}`
                return new Promise(resolve =>{
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.data)
                    })
                })
            }
        })
    </script>
    <!--
        ,


            renderResult: (result, props) => {
                console.log(props)
        
                let group = ''
                if (result.index % 3 === 0) {
                    group = `<li class="group">Group</li>`
                }
                return `
      ${group}
      <li ${props}>
        <div class="wiki-title">
          ${result}
        </div>
        
      </li>
    `
            },

            getResultValue: result => result,
            onSubmit: result => {
                window.open(`/places/?=${(result)}`)
            }
        })
    -->


{% endblock %}