* {
    font-family: serif;
    background-color: #e1d4f0;
}

body {
    background-color: #e2d5f0;
    color: #34105c;
    text-align: center;
    margin-top: 60px;
}

a {
    text-decoration: underline;
}